In [3]:
import pandas as pd

In [10]:
data = {
    'product': ['Apple', 'OnePlus', 'Realme', 'Xiomi', 'blackberry', 'Nokia', 'asus', 'hp'],
    'price': [7896, 2890, 3785,7896,3215,5847,6975,9879],
    'quantity': [5, 2, 3, 9, 6, 3, 7, 8]
}
data

{'product': ['Apple',
  'OnePlus',
  'Realme',
  'Xiomi',
  'blackberry',
  'Nokia',
  'asus',
  'hp'],
 'price': [7896, 2890, 3785, 7896, 3215, 5847, 6975, 9879],
 'quantity': [5, 2, 3, 9, 6, 3, 7, 8]}

In [12]:
df = pd.DataFrame(data)

# Calculate total revenue
df['total_revenue'] = df['price'] * df['quantity']

print(df)

      product  price  quantity  total_revenue
0       Apple   7896         5          39480
1     OnePlus   2890         2           5780
2      Realme   3785         3          11355
3       Xiomi   7896         9          71064
4  blackberry   3215         6          19290
5       Nokia   5847         3          17541
6        asus   6975         7          48825
7          hp   9879         8          79032

In [36]:
emails = ['jigergrewal@gmail.com', 'pravesh@gmail.com', 'studyjiger@gmail.com','google@gmail.com', 'microsoft@gmail.com']

# Extract usernames
usernames = [email.split('@')[0] for email in emails]

print(usernames)

['jigergrewal', 'pravesh', 'studyjiger', 'google', 'microsoft']

In [60]:
prices = [1000, 2000, 3000, 4000, 5000, 8963, 7896, 3214, 7896, 3654]
discount_percentage = 30  #30%

# Calculate final prices after discount

final_prices = [price - (price * discount_percentage / 100) for price in prices]
print(final_prices)

[700.0, 1400.0, 2100.0, 2800.0, 3500.0, 6274.1, 5527.2, 2249.8, 5527.2, 2557.8]

In [44]:
data = {
     'product': ['Apple', 'OnePlus', 'Realme', 'Xiomi', 'blackberry', 'Nokia', 'asus', 'hp'],
    'price': [7896, 2890, 3785,7896,3215,5847,6975,9879],
    'rating': [5, 2, 3, 9, 6, 3, 7, 8]
}

df = pd.DataFrame(data)

# Sort by price (ascending)
sorted_by_price = df.sort_values(by='price', ascending=True)
print("Sorted by price (ascending):\n", sorted_by_price)

# Sort by rating (descending)
sorted_by_rating = df.sort_values(by='rating', ascending=False)
print("Sorted by rating (descending):\n", sorted_by_rating)

Sorted by price (ascending):
       product  price  rating
1     OnePlus   2890       2
4  blackberry   3215       6
2      Realme   3785       3
5       Nokia   5847       3
6        asus   6975       7
0       Apple   7896       5
3       Xiomi   7896       9
7          hp   9879       8
Sorted by rating (descending):
       product  price  rating
3       Xiomi   7896       9
7          hp   9879       8
6        asus   6975       7
4  blackberry   3215       6
0       Apple   7896       5
2      Realme   3785       3
5       Nokia   5847       3
1     OnePlus   2890       2

In [58]:
data = {
      'product': ['Apple', 'OnePlus', 'Realme', 'Xiomi', 'blackberry', 'Nokia', 'asus', 'hp'],
    'price': [7896, 'NaN', 3785,7896,'$321.5',5847,6975,9879],
    'quantity': [5, 2, 3, 9, 6, 3, 7, 8]
}

df = pd.DataFrame(data)

# Fixing inconsistent product names (lowercase all and strip whitespace)
df['product'] = df['product'].str.lower().str.strip()

# Removing currency symbols and converting to float
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)

# Filling missing values with the mean price
df['price'].fillna(df['price'].mean(), inplace=True)

print(df)

      product        price  quantity
0       apple  7896.000000         5
1     oneplus  6085.642857         2
2      realme  3785.000000         3
3       xiomi  7896.000000         9
4  blackberry   321.500000         6
5       nokia  5847.000000         3
6        asus  6975.000000         7
7          hp  9879.000000         8